-r requirements-mceditlib.txt
pyzmq==15.0.0  # v15.4.0 fails to freeze with PyInstaller - see pyinstaller/issues/2147
pyside>=1.2.0 ; sys.platform != 'darwin'  # install this via homebrew, not visible to pip
pyopengl
ipython
qtconsole
pygments
pastebin
raven
